@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,500;1,300&display=swap');
body{
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
	color: #FFFFFF;
}

#hero{
	background-image:url("../img/slide-galaxy.jpg");
	background-position: center;
	background-repeat: no-repeat;
	text-align: center;
	color: #FFFFFF;
}

#hero h2{
	padding-top: 5px;
	text-align: right;
	font-family: 'Roboto', sans-serif;
}
#hero h1{
	padding-top: 15px;
		font-weight: 700;
	font-size: 100px;
	font-family: 'Roboto', sans-serif;
}
#heroid{
	
	padding-top: 550px;
}

#heroid p{
	font-weight:600;
	text-align: center;
}

#productos .titulo {
	
	color: #000000;
}

#productos .sub {
	
	color: #000000;}
#gris{
	background-color: #FBFBFB;
}